<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SpaceX Mission Launch">
    <meta name="author" content="Bruna Bispo">
    <title>SpaceX Mission Launch</title>
  </head>
  <body>
    <div class="Header">
      <h1 id="Title-header" style="text-align: center">SpaceX Mission Launch List</h1>
      <p style="text-align: center; color: white;">by Bruna Bispo Abatepaulo</p>
    </div>

    <router-outlet></router-outlet>

  </body>
</html>
